{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script type="text/javascript">
  $(document).ready(function ($) {
      console.log('print');

      $(document).on('click', '.btn_print', function (event) {
          console.log('print1');
          event.preventDefault();

          //credit : https://ekoopmans.github.io/html2pdf.js

          var element = document.getElementById('whatToPrint');

          //easy
          //html2pdf().from(element).save();

          //custom file name
          //html2pdf().set({filename: 'code_with_mark_'+js.AutoCode()+'.pdf'}).from(element).save();


          //more custom settings
          var opt =
          {
              margin: 1,
              filename: 'recurinvoice' + '.pdf',
              image: { type: 'jpeg', quality: 0.98 },
              html2canvas: { scale: 2 },
              jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
          };

          // New Promise-based usage:
          html2pdf().set(opt).from(element).save();


      });



  });
</script>
<style>

                   
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 1px;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }
  
  .logo img {
    max-height: 100px;
  }
  
  .company-info h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .company-info p {
    margin: 0;
    line-height: 1.5;
  }
  
  .i.invoice-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .invoice-box h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .invoice-details p, .client-details p {
    margin: 5px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f3eded;
    color: black;
  }
  
  #th {
    background-color:  rgb(86, 86, 85);;
    color: black;
  }
  
  .invoice-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .invoice-total p {
    margin: 5px 0;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  
                  </style>
<section>
  <div class="row fixed-top  " style="top: 7rem; margin-left: 16rem;position: fixed;">
   
  <div style="overflow-y: scroll; height: 600px;">
    <div class="row"  style="width: 80%;">
      <div class="row">
        
        <div class="col-md-3" style="border-right: 1px solid white;height: 100vh;">
          <div class="row">
            <div class="col-md-6 "><a class="text-white" style="font-size: 1.5rem;">Invoices</a></div>
            <div class="col-md-6 form-inline justify-content-end" ><a style="color: #ccc;width: 4rem;height: 3rem;margin-left: 2rem; background-color: rgb(210, 132, 30);" class="btn  " href="{% url 'new_recur' %}"><i class="fa-solid fa-plus "></i>New</a>
             
            </div>
          </div> 
          <table class="table  text-white">
            <thead>
              <tr>
                <th>Name</th>
               
              </tr>
              
            </thead>
            <tbody>
              {% for v in allproduct %}
     
              <tr>
                <td>
                  <div class="row">
                      <a class="text-white " href="{% url 'viewrecur' v.id %}">Name : {{v.name}}</a>                  
                      <div class="col-md-6">
                          <h5 style="color: #f2f2f2;">{{v.cname}}</h5>
                      </div>
                      <div class="col-md-8 text-right" style="color: #f3eded;"> &#x20B9;{{v.total}}.00</div>
                  </div>
              </td>
                <!-- <td ></td> -->
             
              </tr>
             
              {% endfor %}
              <tr>
               <td><hr></td>
               </tr>
            </tbody>
          </table>
       
        </div> 
      </div>
    </div>
  </div>
        
        <div class="col-md-8 ml-1  mb-5 " style="width: 75%; position: absolute; margin-left: 270px; margin-top: 1px;"  >
          <div class="row" >
            <div class="col-md-12" ><a class="text-white" style="font-size: 1.5rem;"><h2>{{product.name}}</h2></a></div>
            
            
            <div class="col-md-12 p-2  bg-light form-inline justify-content-start" style="width: 100%;">
             <a href="{% url 'edit_recur' product.id %}"  class=" text-dark mr-3" style="margin-left: 580px;"><i class="fa fa-pencil"></i>Edit</a>
             
             
 
                <!-- <a href=""  class="  text-dark mr-3" ><i class="fa fa-share-alt"></i>
 
                 Share</a> -->
                <a href="{% url 'del_recur' product.id %}" class="  text-dark mr-3" ><i class='fas fa-record-vinyl'></i>
                 Delete </a>
                
                 <!-- <div class="dropdown" >
               
                   <a class="dropdown-toggle text-dark"   href=""  data-toggle="dropdown"  >
                     <i class="fa fa-envelope"></i> Mail/SMS
                   </a>
                   <div class="dropdown-menu " >
                     <a class="dropdown-item" href="{% url 'emailattachment' %}">Send as MAIl</a>
                     <a class="dropdown-item" href="#">Send as SMS</a>
                     
                    
   
                     
                   </div>
                
               </div> -->
               <!-- <div class="dropdown ml-2" > -->
               
                 <a class=" text-dark" href="" onclick="printSelectedArea()"  >
                  <i class="fa-solid fa-print"></i>Print
                 </a>

                 <a href="" class=" text-dark btn_print" 
                             id="pdf">
                             <i class="fa-solid fa-file-pdf"></i>pdf</a>

                            <label for="file-upload" class="btn text-white border-0"
                            style="background-color: rgb(210, 132, 30);">
                            <i class="fas fa-upload text-white"></i> Upload File
                        </label>
                        <input id="file-upload" type="file" name="file" style="display:none;">

                        <!-- <i class="fas fa-upload text-white"></i> Upload File
                       
                        <input id="file-upload" type="file" name="file" style="display:none;"> -->
            </div>
          </div>
        </div>

  
                
             <!-- </div> -->
 <!-- <div style="position: fixed;">
 
 </div> -->
             <div style="overflow-y: scroll;height: 700px;width: 80%; margin-left:20%; margin-top:6.5%;position: absolute;" >
            
               <section style="background-color: rgba(252, 236, 217, 0.8);"class=" p-2 m-2 mb-5  bg-light" id="whatToPrint">
                 
                   <header style="background-color:  rgb(86, 86, 85);;border-radius: 1rem;">
                       <div class="logo ">
                           <img class="ml-2" width="100rem" style="border-radius: 50%;" src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png" alt="Company Logo">
                       </div>
                       <div style="background-color:  rgb(86, 86, 85);;color: black;" class="company-info">
                           <h2 class="text-white">{{comp.company_name}}</h2>
                           <p class="text-white"> {{comp.address}}<br>{{comp.city}}<br>Ph: {{comp.contact_number}}<br>Email: {{comp.company_email}}</p>
                       </div>
                   </header>
                   <div class="invoice-box">
                       <h1 class="text-dark">Invoice</h1>
                       <div class="invoice-header">
                           <div class="invoice-details text-dark">
                             <p class="text-dark">Order No#: {{product.order_num}}</p>
 
                               <p class="text-dark">Type #: {{product.entry_type}}</p>
                               <p class="text-dark">Invoice Date: {{product.start}}</p>
                           </div>
                           <div class="client-details">
                               <p class="text-dark">Client Name: {{product.cname}}</p>
                               <p class="text-dark">Address: {{product.p_supply}}<br>{{invoice.customer.Address2}}</p>
                           </div>
                       </div>
                       <table>
                           <thead>
                               <tr>
                                 
                                 <th id="th">Product</th>
                                   <th id="th">Quantity</th>
                                   <th id="th">Price</th>
                                   <th id="th">Discount</th>
                                   <th id="th">Tax %</th>
                                   <th id="th"> Total</th>
                               </tr>
                           </thead>
                          <tbody>
                             {% for i in itemstable %}
                             <tr>
                               <td>{{i.iname}}</td>
                               <td>{{i.quantity}}</td>
                               <td>{{i.rate}}</td>
                               <td>{{i.discount}}</td>
                               <td>{{i.tax}}</td>
                               <td>{{i.amt}}</td>
                             </tr>
                             {% endfor %}
 
                         </tbody> 
                       </table>
                       
                       <div class="invoice-total ">
                           <p class="text-dark ">Subtotal: {{product.sub_total}}</p>
                           <p class="text-dark ">IGST: <span class="ml-4"></span><b>{{product.igst}}</b> </p>
                           <p class="text-dark">SGST: <span class="ml-4"></span><b> {{product.sgst}}</b></p>
                           <p class="text-dark">CGST: <span class="ml-4"></span> <b>{{product.cgst}}</b></p>
                           <p class="text-dark">Tax: <span class="ml-4"></span> <b>{{product.tax_amount}}</b></p>
                           <p class="text-dark">Total: <span class="ml-4"></span> <b>{{product.total}}</b></p>
                       </div>
                      
                   </div>
 
                   <footer class="mb-5">
                       <p class="text-dark">&copy; Zho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
                   </footer>
                   <div class="mt-5 mb-5">
       
                   </div>
                  </section>
                  
 
                  <script>
 
 
                  function printSelectedArea() {
 
   var selectedArea = document.getElementById("whatToPrint");
   
 
   var printWindow = window.open('', 'PrintWindow', 'height=800,width=800');
   
 
   printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + selectedArea.innerHTML + '</body></html>');
   
  
   printWindow.print();
   
   
   printWindow.close();
 }
 
                 </script>
       
 
            </div>
 
 
               </div>
               
          </div>
          
                
        </div>
     
        </div>
     
       </div>
  </div>
 
   </div>
  
 


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</section>

{% endblock %}
 