{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .flowchart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

    .flowchart-item {
        text-align: center;
        padding: 10px;
        background-color: lightblue;
        border: 3px solid rgb(25, 91, 145);
        border-radius: 5px;
        width: 150px;
        color: black;
        font-size: 12px;
    }
    .flowchart-item i{
        font-size: 15px;
    }

    .flowchart-connector {
        flex-grow: 1;
        height: 2px;
        background-color: #ccc;
        margin-top: 0%;

    }
    
    @media (max-width: 768px) {
        .flowchart {
            flex-direction: column;
            align-items: center;
        }

        .flowchart-item {
            width: 120px;
        }
        .flowchart-connector {
            height: 50px;
            width: 2px; 
            margin-left: 0%; 
            transform: translateX(-50%);
        }
    } 
   
</style>   
<section >
  <div class="row fixed-top  " style="top: 7rem; margin-left: 18rem;" >
   
    <div class="col-md-10 " style=" position: fixed;">
        <div class="row">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">Recurring Invoices</a></div>
            <div class="col-md-6 form-inline" style="margin-left: 55rem;margin-top: -2rem;"><a style="color: #ccc; background-color: rgb(210, 132, 30);" class="btn  mr-2" href="{% url 'create_recur' %}"><i class="fa-solid fa-plus "></i>New</a>
            </div>
            <div class="col-md-2" style="width: 40%; margin-top: 8px;">

                <div class="dropdown">
                    <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                        data-toggle="dropdown">filter by
                    </button>
                    <div class="dropdown-menu" style="background-color: black;">
                        <a class="dropdown-item" href=""
                            style="height: 40px; font-size: 15px; color: white; text-align: center;">All</a>
                        <!-- <a class="dropdown-item" href=""
                            style="height: 40px; font-size: 15px; color: white; text-align: center;">Draft</a>
                        <a class="dropdown-item" href=""
                            style="height: 40px; font-size: 15px; color: white; text-align: center;">Sent</a> -->

                    </div>
                </div>
            </div>
          </div>   
    
        <table class="table  text-white">
            <thead>
              <tr>

                <th>Profile Name</th>
                <th>Type</th>
                <th>Order_No</th>
                <th>Repeat</th>
                <th>Start_Date</th>
                <th>End_Date</th>    
                <th>Payment</th>



              </tr>
            </thead>
             <tbody>
              {% for v in recur %}
     
              <tr>
     
              <td onclick="location.href ='{% url 'viewrecur' v.id %}' ">{{v.name}}</td>

                <td>{{v.entry_type}}</td>
                <td>{{v.order_num}}</td>
                <td>{{v.every}}</td>
                <td>{{v.start}}</td> 
                <td>{{v.end}}</td> 
                <td>{{v.terms}}</td> 

               
               </tr> 
               {% endfor %}
            </tbody> 
          </table>
      
          <div style="margin-left: 20px;padding-bottom: 10px;; margin-top: 20px;">
            <!-- <img src="https://www.zoho.com/books/help/images/recurring-invoice/workflow-ri.png"> -->
          
            <div class="card radius-15 mt-5">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="mb-0 text-center">Life cycle of a Recurring Invoices</h3>
                        <br>
                        <div class="flowchart">
                            <div class="flowchart-item text-uppercase" style="width: 200px;">
                                <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #daa430;"></i> Recurring Profile
                            </div>
                            <div class="flowchart-connector-below"></div>
                            <div class="flowchart-item text-uppercase" style="width: 210px;">
                                <i class="fa-sharp fa-solid fa-file" style="color: #daa430;"></i> Invoices
                            </div>
                            <div class="flowchart-connector"></div>
                            <div class="flowchart-item text-uppercase" >
                                <i class="fa-sharp fa-solid fa-receipt" style="color: #daa430;"></i> Save as Draft
                            </div>
                            <div class="flowchart-connector">  </div>
                            <div class="flowchart-item text-uppercase">
                                <i class="fa-sharp fa-solid fa-money-check-dollar" style="color: #3ec61c;"></i>Sent invoices
                            </div>
                            <div class="flowchart-connector">  </div>
                            <div class="flowchart-item text-uppercase">
                                <i class="fa-sharp fa-solid fa-money-check-dollar" style="color: #3ec61c;"></i>charge automatically and sent invoices
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
 


</div> 
</section>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 
{% endblock %}